.head1{
    z-index: 100;
}
.head2{
    color: white;
    font-size:25px;
}
.head3{
    position: relative;
    z-index: 100;
    font-size:18px;
}

.head4{
    padding-left: 30px;
}
.head5{
    color: white;
}
