
<!-- Section1 -->
<header>
    <div class="owl-carousel owl-theme">
        <div class="item">
            <img src="assets/back1.jpeg" alt="images not found" class="img-fluid responsive mx-auto d-block">
            <div class="cover">
                <div class="container">
                    <div class="header-content">
                        <div class="line animated bounceInLeft"></div>
                        <h1>KNOW ABOUT ME....</h1>
                       <button class="btn btn-info" (click)="navigateToContact()">Hire me</button>
                    </div>
                </div>
             </div>
        </div>
    </div>
</header>


<!-- Section2 -->
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <img src="assets/sit3.png" alt="images not found" class="img-fluid responsive ml-5" height="80%" width="70%">
        </div>
        <div class="col-md-6 ">
            <h2>ABOUT ME</h2>
            <hr class="black accent-2 mt-0 d-inline-block" style="width: 180px;">
            <!-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
              <br>
                and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p> -->
            <p>
               Hey! I am a Web Developer. I want to tell you about myself that, Just a few year ago, I enter into the field of Computer Science and started establishing concepts and doing coding. As the time is being passed, I started grow up in coding and I have learned many languages, concepts and code. Along with this, I feel quite attraxted towards Web Development and Web Designing. So, I started learning more coding in this field. I also work on many frontened and backened. I also done internship in The Tech Cubes as a Full Stack Developer. Currently, along with working on many projects in website development, I also learning Android Development.
            </p>
            <button class="btn btn-info"  (click)="navigateToResume()">Download CV</button>
        </div>
    </div>
</div>

<!-- Section3 -->
<div class="jumbotron jumbotron-fluid mt-5 p-0">
    <div class="container-fluid">
        <div class="row p-0 m-0">
            <div class="col-md-6 p-0 m-0">
                <img src="assets/cs.jpg" class="img-fluid responsive a1">
                <div class="a2">
                    <div class="a3 text-center">
                        <h3>My Skills</h3>
                        <h1>I provide the best Quality</h1>
                        <h5>I am developer but along with this, I am a learner. I have good skills in in the following fields.</h5>
                        <div class="outer">
                            <div class="button mt-5">
                              <div class="text">See My Works</div>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mt-3">
                <h5>Web Design</h5>
                <mat-progress-bar mode="determinate" value="95"></mat-progress-bar><br><br>
                <h5>Web Development</h5>
                <mat-progress-bar mode="determinate" value="95"></mat-progress-bar><br><br>
                <h5>Portfolio Design</h5>
                <mat-progress-bar mode="determinate" value="90"></mat-progress-bar><br><br>
                <h5>Theme Development</h5>
                <mat-progress-bar mode="determinate" value="70"></mat-progress-bar><br><br>
                <h5>Android Development</h5>
                <mat-progress-bar mode="determinate" value="50"></mat-progress-bar><br><br>

            </div>
        </div>
    </div>
</div>

