<!-- Section1 -->

<div class="container-fluid c1" id="bg">
    <img src="assets/back6.jpg" class="img-fluid responsive c2">
</div>


<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <p style="font-size: 12vw;color: white;">Oops!</p>

            <p style="font-size:3vw;color: white;">404-Page Not Found</p>
            <p style="font-size:20px;color: white;">The page you are looking for might have been removed had its name change orr its temporarily unavailabel</p>

            <hr style="border-width: 10px;width:60%;border-color:white;border-radius: 10px;">
        </div>
    </div>
</div>