<!-- Section1 -->
  
  <header>
    <div id="carouselExampleIndicators" class="carousel slide sc1" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url('assets/lap6.jpeg')">
          <div class="carousel-caption">
            <p class="sc10">What I Provide You!</p>
            <hr class="yellow accent-2 mb-4 mt-0 d-inline-block mx-auto" class="sc2">          
            <p class="sc11">Flexible Websites</p>
            <h6>This is a description for the first slide.</h6>
          </div>
        </div>
        
        <!-- Slide Two - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('assets/lap7.jpeg')">
          <div class="carousel-caption">
            <p class="sc10">What I Provide You!</p>
            <hr class="yellow accent-2 mb-4 mt-0 d-inline-block mx-auto" class="sc2">          
            <p class="sc11">Portfolio Designing</p>
            <h6>This is a description for the first slide.</h6>
          </div>
        </div>
       
        <!-- Slide Three - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('assets/a2.jpeg')">
          <div class="carousel-caption">
            <p class="sc10">What I Provide You!</p>
            <hr class="yellow accent-2 mb-4 mt-0 d-inline-block mx-auto" class="sc2">          
            <p class="sc11">Flexible Websites</p>
            <h6>This is a description for the first slide.</h6>
          </div>
        </div>
        <div class="sc3"></div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
    </div>
  </header>

  <!-- Section2 -->

  <div class="container mt-3 mb-3">
    <div class="row">
      <div class="col-md-6"> 
        <div class="outer">
        <div class="button">
          <div class="text s1 sc4" (click)="navigateToContact()">Hire me as a Freelancer</div>
        </div> 
      </div></div>
      <div class="col-md-6">
        <div class="outer">
          <div class="button">
            <div class="text s1 sc4" (click)="navigateToContact()">Hire me for a Job</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Section3 -->

  <div class="jumbotron jumbotron-fluid" class="sc5 pb-3">
    <div class="container mb-4">
      <div class="text-center s2">What I serve to you!</div>
      <div class="row mt-4 mb-4">
        
        <div class="col-md-3">
          <div class="card p-3 text-center">
            <h6 class="text-center"><b>Portfolio Making</b></h6>
            <p class="sc6">We build portfolio websitesof your works & products the most effective way to outreach the customers.</p>
            <button mat-raised-button class="sc7" (click)="navigateToContact()">Contact me!</button>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card p-3 text-center">
            <h6 class="text-center"><b>eCommerce Websites</b></h6>
            <p class="sc6">Our eCommerce Websites are easy to navigate,Mobile friendly & packed with eCommerce features.</p>
            <button mat-raised-button class="sc7" (click)="navigateToContact()">Contact me!</button>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card p-3 text-center">
            <h6 class="text-center"><b>Website Development</b></h6>
            <p class="sc6">We create and develop professional Websites and also inherit cultural aesthetic and values orientation.</p>
            <button mat-raised-button class="sc7" (click)="navigateToContact()">Contact me!</button>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card p-3 text-center">
            <h6 class="text-center"><b>Blog Designing</b></h6>
            <p class="sc6">We create a blog website that compliments your brand persona and attracts readers while easy to navigate.</p>
            <button mat-raised-button class="sc7" (click)="navigateToContact()">Contact me!</button>
          </div>
        </div>
      </div>
    </div>
  </div>
    

  <!-- Section4 -->
 
  <!-- <div class="container">
    <div class="row">
      <div class="col-md-3 mt-5 mb-5" style="z-index: 99;">
        <img src="assets/annu.jpg" style="height:500px;width:500px;">
      </div>
      <div class="col-md-9">
        <div class="card pl-5" style="z-index:98;background-color:#A7ECE1;border-color: #A7ECE1;">
          <div style="padding-left:180px;padding-right:50px;">
          <h1>Hello Everyone!</h1><br>
          <p style="line-height:30px;">Amet ipsum dolor sit amet, cons adipiscing elit. Donec odio. Quisque volutpat mattis eros.Amet ipsum dolor sit amet, cons adipiscing elit. Donec odio. Quisque volutpat mattis eros.Amet ipsum dolor sit amet, cons adipiscing elit. Donec odio. Quisque volutpat mattis eros.Amet ipsum dolor sit amet, cons adipiscing elit. Donec odio. Quisque volutpat mattis eros. <br>
            Amet ipsum dolor sit amet, cons adipiscing elit. Donec odio. Quisque volutpat mattis eros.Amet ipsum dolor sit amet, cons adipiscing elit. Donec odio. Quisque volutpat mattis eros.Amet ipsum dolor sit amet, cons adipiscing elit. Donec odio. Quisque volutpat mattis eros.Amet ipsum dolor sit amet, cons adipiscing elit. Donec odio. Quisque volutpat mattis eros. <br>
          </p>

          <button mat-raised-button color="warn" class="mb-5">Explore More!</button>

        </div>
        </div>
      </div>
    </div>
  </div> -->

  <div class="container mt-5">
    <div class="image-stack">
      <div class="image-stack__item image-stack__item--top">
        <img src="assets/annu.jpg" alt="">
      </div>
      <div class="image-stack__item image-stack__item--bottom">
        <div class="card pl-5" class="sc8">
          <div>
          <p class="s5">Hello Everyone!</p><br>
          <p class="s4 text-muted">Typically, we build dynamic experiences and a wide variety of custom web development solutions. We mingle various web components for full range web development scenarios and unique ideas.Many technologies, frameworks, and development tools are in our arsenal.Appnovation offers a variety of website design and development services, from creating mobile web development solutions and responsive website designs, to building custom e-commerce and intranet experiences using the latest and proven web technologies.<br>
          </p>

          <button mat-raised-button color="warn" class="mb-5 s6">Explore More!</button></div>
          </div>
          </div>
    </div>
  </div>


  <!-- Section5 -->
  <div class="jumbotron jumbotron-fluid mt-4">
  <div class="container">
    <h1 class="text-center s2"><b>Our Services!</b></h1>

      <div class="row mt-5">
          <div class="col-md-3 card c1 text-center">
            <div><i class="fa fa-paint-brush fa-3x circle-icon1"></i></div>
            <h4 class="mt-5 text-muted">Web Design</h4>
            <hr class="black accent-2 mb-4 mt-0 d-inline-block mx-auto sc9">          
            <p>Amet ipsum dolor sit amet, cons adipiscing elit. Donec odio. Quisque volutpat mattis eros.</p>
          </div>

          <div class="col-md-1"></div>

          <div class="col-md-3 card c1 text-center">
            <div><i class="fa fa-cogs fa-3x circle-icon2"></i></div>
            <h4 class="mt-5 text-muted">Web Development</h4>
            <hr class="black accent-2 mb-4 mt-0 d-inline-block mx-auto sc9">          
            <p>Amet ipsum dolor sit amet, cons adipiscing elit. Donec odio. Quisque volutpat mattis eros.</p>
          </div>

          <div class="col-md-1"></div>

          <div class="col-md-3 card c1  text-center">
            <div><i class="fa fa-wordpress fa-3x circle-icon3"></i></div>
            <h4 class="mt-5 text-muted">WordPress</h4>
            <hr class="black accent-2 mb-4 mt-0 d-inline-block mx-auto  sc9">          
            <p>Amet ipsum dolor sit amet, cons adipiscing elit. Donec odio. Quisque volutpat mattis eros.</p>
          </div>
      </div>

      <div class="row mt-5 pt-5">
        <div class="col-md-3 card c1 text-center">
            <div><i class="fa fa-mobile fa-3x circle-icon3"></i></div>
          <h4 class="mt-5 text-muted">Responsive Designs</h4>
          <hr class="black accent-2 mb-4 mt-0 d-inline-block mx-auto sc9">          
          <p>Amet ipsum dolor sit amet, cons adipiscing elit. Donec odio. Quisque volutpat mattis eros.</p>
        </div>
      

        <div class="col-md-1"></div>

        <div class="col-md-3 card c1 text-center">
            <div><i class="fa fa-book fa-3x circle-icon1"></i></div>
          <h4 class="mt-5 text-muted">Prototype Design</h4>
          <hr class="black accent-2 mb-4 mt-0 d-inline-block mx-auto sc9">          
          <p>Amet ipsum dolor sit amet, cons adipiscing elit. Donec odio. Quisque volutpat mattis eros.</p>
        </div>

        <div class="col-md-1"></div>

        <div class="col-md-3 card c1 text-center">
            <div><i class="fa fa-laptop fa-3x circle-icon2"></i></div>
          <h4 class="mt-5 text-muted">Logo Design</h4>
          <hr class="black accent-2 mb-4 mt-0 d-inline-block mx-auto sc9">          
          <p>Amet ipsum dolor sit amet, cons adipiscing elit. Donec odio. Quisque volutpat mattis eros.</p>
        </div>
    </div>
  </div>
</div>


