<!-- Section1 -->

<header>
    <div id="carouselExampleIndicators" class="carousel slide r1" data-ride="carousel">     
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active" style="background-image: url('assets/lap3.jpg')">
          <div class="carousel-caption r5">
            <p class="r4">Diksha Verma</p>
            <p class="r2 r7">Web Developer</p>
            <div id="content" #content class="r6">  
      
                <div>  
                  <input type="button" class="btn btn-info" value="Download Resume" (click)="captureScreen()"/>  
                </div>  
              
            </div> 
          </div>
        </div>
        <div class="r3"></div>
      </div>
    </div>
</header>


<!-- Section2 -->

<div class="container-fluid" id="contentToConvert">
    <div class="row">
        
        <div class="col-md-3 pt-3 r8">
           
            <div class="container">
                
                <div class="row">
                    <div class="col-md-12">
                        <img src="assets/canva.png" class="rounded-circle responsive img-fluid ml-4 mt-2 r9"><br>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-md-12 mt-3">
                        <h6 class="ml-3">PERSONAL</h6>
                        <hr class="black accent-2 mt-0 d-inline-block ml-3 r10">
                        <table class="mt-0 r11">
                            <tr>
                                <td><b>Name:</b></td>
                                <td>Diksha Verma</td>
                            </tr>
                            <tr>
                                <td><b>Birthday:</b></td>
                                <td>16 October 1997</td>
                            </tr>
                            <tr>
                                <td><b>Sex:</b></td>
                                <td>Female</td>
                            </tr>
                            <tr>
                                <td><b>Relationship:</b></td>
                                <td>Single</td>
                            </tr>
                            <tr>
                                <td><b>Nationality:</b></td>
                                <td>Indian</td>
                            </tr>
                            <tr>
                                <td><b>Language:</b></td>
                                <td>Hindi & English</td>
                            </tr>
                        </table>
                    </div>
                </div>
    
                <!-- Contact -->
                <div class="row">
                    <div class="col-md-12 mt-5">
                        <h6 class="ml-3">CONTACT</h6>
                        <hr class="black accent-2 mt-0 d-inline-block ml-3 r10">
                        <table class="mt-0 r11">
                            <tr>
                                <td><b>Mobile:</b></td>
                                <td>9026329379</td>
                            </tr>
                            <tr>
                                <td><b>Email:</b></td>
                                <td>diksha.bhumca18@gmail.com</td>
                            </tr>
                            <tr>
                                <td><b>Address:</b></td>
                                <td>A 38/48A,Kazzakpura,Varanasi,Uttar Pradesh,India,221001 </td>
                            </tr>
    
                        </table>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-md-12 mt-5">
                        <h6 class="ml-3">HOBBIES & INTEREST</h6>
                        <hr class="black accent-2 mt-0 d-inline-block ml-3 r10">
                        <table class="ml-5">
                            <tr>
                                <td><i class="fa fa-map-pin fa-1x circle-icon1" aria-hidden="true" style="font-size:20px;"></i><br><p style="font-size:13px;">Badminton</p></td>
                                <td><i class="fa fa-paint-brush fa-1x circle-icon1" aria-hidden="true"  style="font-size:20px;"></i><br><p style="font-size:13px;">Painting</p></td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-music fa-2x circle-icon1" aria-hidden="true"  style="font-size:20px;"></i><br><p style="font-size: 13px;">Dancing</p></td>
                                <td><i class="fa fa-pencil fa-2x circle-icon1" aria-hidden="true"  style="font-size:20px;"></i><br><p style="font-size: 13px;">Writing</p></td>
                            </tr>
                        </table>
                    </div>
                </div>
                
            </div>
        

        <div class="row">
            <div class="col-md-12 mt-5">
                <h6 class="ml-4">FOLLOW ME ON</h6>
                <hr class="black accent-2 mt-0 d-inline-block ml-3 r10"><br>
                <div class="ml-4">
                    <i class="fa fa-instagram" style="font-size:24px"></i>
                    <p>Blog name: the_code_xplorer</p>
                </div>
            </div>
        </div>

    </div>
        <!-- Next Column -->
        <!-- Section3 -->

        <div class="col-md-9">
            <div class="container">
                
                <div class="row mt-3">
                    <div class="col-md-12">
                     <h5>PROFILE</h5>
                     <hr class="black accent-2 mt-0 d-inline-block mx-auto w-100">
                     <!-- <p class="text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p> -->
                     <p class="text-muted">I am enthusiastic, responsible and hard working fresher. And, also a self-motivated person, seeking for such a professional environment where enhancing professional and developing problem solving skills are well appreciated. At the same time looking forward to challenging and growth oriented tasks that help to prove the best of my ability in acheiving the objective of the job. Being worked on different projects helped me to adopt to the changes quickly. I am able to work both in a team environment as well as using own initiative. I am able to work well under pressure and adhere to strict deadlines.</p>
                    </div>
                </div>
     
                <!-- Professional skills -->
                <div class="row mt-3">
                 <div class="col-md-12">
                  <h5>PROFESSIONAL SKILLS</h5>
                  <hr class="black accent-2 mt-0 d-inline-block mx-auto w-100">
     
                  <table class="text-muted">
                      <tr>              
                          <td>HTML, CSS, Bootstrap, JavaScript</td>
                          <td><progress id="file" value="95" max="100"></progress></td>
                      </tr>
                    
                         <tr> 
                             <td>Angular</td>
                             <td><progress id="file" value="95" max="100"></progress></td>
                         </tr>
                    
                         <tr> 
                            <td>Database Management System</td>
                            <td><progress id="file" value="85" max="100"></progress></td>
                        </tr>
                         <tr> 
                             <td>WordPress</td>
                             <td><progress id="file" value="70" max="100"></progress></td>
                         </tr>
                         <tr> 
                            <td>Laravel</td>
                            <td><progress id="file" value="70" max="100"></progress></td>
                        </tr>
                         
                        
                         <tr> 
                             <td>Android Flutter</td>
                             <td><progress id="file" value="70" max="100"></progress></td>
                         </tr>
                  
                   
                   
                  </table>
     
                 </div>
             </div>
     
             <!-- Programming languages -->
             <div class="row mt-3">
                 <div class="col-md-12">
                  <h5>Other Skills</h5>
                  <hr class="black accent-2 mt-0 d-inline-block mx-auto w-100">
                  <ul class="text-muted">
                      <li>Java</li>
                      <li>C</li>
                      <li>Laravel</li>
                      <li>Angular</li>                      
                      <li>SASS</li>
                      <li>Python</li>
                      <li>PHP</li>
                      <li>Blockchain</li>
                      <li>Artificial Intelligence</li>
                      <li>Data Structure</li>
                      <li>Theory of Computation</li>
                      <li>Jquery</li>
                      <li>Firebase</li>
                      <li>Operating System: Windows, Linux</li>
                      <li>Ajax</li>
                      <li>MySQL</li>
                      <li>MongoDB</li>
                      <li>Software Engineering</li>
                      <li>Compiler Design</li>
                      <li>Information Security</li>
                      
                  </ul>
                 </div>
             </div>

             <!-- Tools -->
             <div class="row mt-3">
                <div class="col-md-12">
                 <h5>TOOLS</h5>
                 <hr class="black accent-2 mt-0 d-inline-block mx-auto w-100">
                 <ul class="text-muted">
                    <li>IDE: Eclipse, NetBeans</li>
                    <li>Web Server: XAMPP, WAMP</li>
                     <li>Canva</li>
                     <li>Android Studio</li>
                     <li>Visual Studio Code</li>
                     <li>Sublime Text Editor</li>
                     <li>Atom</li>

                 </ul>
                 </div>
            </div>

     
             <!-- Personal skills -->
             <div class="row mt-3">
                 <div class="col-md-12">
                  <h5>PERSONAL SKILLS</h5>
                  <hr class="black accent-2 mt-0 d-inline-block mx-auto w-100">
                  <table>
                      <tr>
                        <td class="text-muted">Teamwork</td>
                        <td><progress id="file" value="100" max="100"></progress></td>
                      </tr>
                      <tr>
                        <td class="text-muted">Leadership</td>
                        <td><progress id="file" value="90" max="100"></progress></td>
                      </tr>
                      <tr>
                        <td class="text-muted">Quick learning of new initiatives.</td>
                        <td><progress id="file" value="90" max="100"></progress></td>
                      </tr>
                  </table>
                 </div>
             </div>

             <!-- Education -->
             <div class="row mt-3">
                <div class="col-md-12">
                 <h5>EDUCATION</h5>
                 <hr class="black accent-2 mt-0 d-inline-block mx-auto w-100">
                 <div class="container">
                     <div class="row">
                         <div class="col-md-2 mt-2"><div class="r12">2018-2019</div></div>
                         <div class="col-md-10">
                             <b>Master of Computer Applications</b>
                            <p class="text-muted">Pursuing Master of Computer Application from Banaras Hindu University with 8.4 CGPA(aggregate upto last 3 semesters)</p>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-2 mt-2"><div class="r12">2015-2018</div></div>
                        <div class="col-md-10">
                            <b>Bachelor of Science</b>
                           <p class="text-muted">Passed from Sunbeam College for Women, Varanasi with 70.39%</p>
                       </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 mt-2"><div class="r12">2015</div></div>
                        <div class="col-md-10">
                            <b>Intermediate</b>
                           <p class="text-muted">Passed from Sant Atulanand Convent School, Varanasi with 79.60%</p>
                       </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 mt-2"><div class="r12">2013</div></div>
                        <div class="col-md-10">
                            <b>High School</b>
                           <p class="text-muted">Passed from Sant Atulanand Convent School, Varanasi with 9.4 CGPA</p>
                       </div>
                    </div>
                 </div>
                 </div>
            </div>
     

            <!-- Certificated -->
            <div class="row mt-3">
                <div class="col-md-12">
                    <h5>CERTIFICATES</h5>
                    <hr class="black accent-2 mt-0 d-inline-block mx-auto w-100">
                    <ul class="text-muted">
                        <li>Certified for Theory of Computation course from NPTEL with 76%.</li>
                        <li>Certified for The Joy of Computing using python course from NPTEL with 85%.</li>
                        <li>Certified for Flutter Development by App Brewery.</li>

                    </ul>
                </div>
            </div>

            <!-- Experience -->
            <div class="row mt-3">
                <div class="col-md-12" >
                    <h5>EXPERIENCE</h5>
                    <hr class="black accent-2 mt-0 d-inline-block mx-auto w-100">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-2 mt-2"><div class="r12">Internship</div></div>
                            <p  class="text-muted"><b class="r13">Full Stack Developer</b><br>
                            at: The Tech Cubes, Pune, Maharashtra, India<br>
                            </p>
                        </div>
                        <div class="row">
                            <div class="col-md-2 mt-2"><div class="r12">Technical Writing</div></div>
                            <p  class="text-muted"><b class="r13">Technical writing on the topic</b><br>
                             Internet of Things in Healthcare<br>
                        </p>
                        </div>
                    </div>

                </div>
            </div>


            <!-- Projects -->
            <div class="row mt-3">
                <div class="col-md-12">
                    <h5>PROJECTS</h5>
                    <hr class="black accent-2 mt-0 d-inline-block mx-auto w-100">
                    <ol class="r14">
                        <li>
                            <b>Online Shopping Store Web Applications: </b>
                            <span  class="text-muted">This web application is a online shopping store for women as well as girl kids. User can view and purchase various dresses after login with its personal details.Many functionalities added like search option for instant search what user wants, login and logout option, attractive frontened, view various dresses , select one dress and then user can either add it to cart or buy it by filling address details and then able to make payment which is done by payment integration.<br>
                            <b><i>Tools: </i></b>Angular8 and PHP<br>
                            <b><i>Link: </i></b> </span><a href="#">Hosting soon</a>
                        </li>
                        <li>
                            <b>Ticketing Tool Web Applications: </b>
                            <span  class="text-muted">This web application is called Ticketing Tool. This application is generally used in IT industries. Functionalities are: At first all employee of the company get registered with his/her personal as well as company details and department name and got their own dashboard. I categorise the dummy company in three departments called Developer, Designer and Accountant. When a project is taken by the company it is given to one of the employee of a department. Then the employee will create a ticket in which automatic generated ticket number is present and employee will mention project details. Then the ticket is assigned to the next employee for futher work by entering his/her own work section and this process is continue until work has been completed.After doing work by the last worker, ticket is being closed.  <br>
                            <b><i>Tools: </i></b>HTML, CSS, JavaScript, Ajax, Jquery, Bootstrap and PHP<br>
                            <b><i>Link: </i></b> </span><a href="#">Hosting soon</a>
                        </li>
                        <li>
                            <b>Online Portfolio: </b>
                            <span  class="text-muted">This web application is a online portfolio for a fashion Designer. This is a one page web application in which the person can add his/her services, projects, about and many more fields.<br>
                            <b><i>Tools: </i></b>WordPress and PHP<br>
                            <b><i>Link: </i></b> </span><a href="#">Hosting soon</a>
                        </li>
                        <li>
                            <b>University Website Web Applications: </b><span  class="text-muted">College Website is a project which aims is developing a computerized system to
                                maintain the regular updates of College. It also has facility of an online notice board where user can put up
                                information about workshops or seminars being held in our colleges. It has a facility where student can
                                apply for Admission Application form as well as there is a option for online query regarding college. The
                                administrator after logging into his account, admin account can generate various reports of application
                                form and query.
                                <br><b><i>Tools: </i></b>HTML, CSS, JavaScript,Bootstrap and PHP<br>
                            </span>
                        
                        <li>
                            <b>Car Rent Web Applications: </b><span  class="text-muted">Car Rent is a project which aims is developing a computerized system for granting car on rent to
                                seeker. The administrator after logging into his account , can see all the fetched seeker’s detail.
                                <br><b><i>Tools: </i></b>HTML, CSS, JavaScript,Bootstrap and PHP<br>
                            </span>
                        </li>
                        <li>
                            <b>BMI Calculator Android Application: </b><span  class="text-muted">This is a Android application in which user can get his/her own BMI value after selecting gender and inserting weight, height and age
                                <br><b><i>Tools: </i></b>Flutter<br>
                            </span>
                        </li>
                        <li>
                            <b>Xylophone Android Application: </b><span  class="text-muted">In this android application, user can play a xylophone using mobile phone by only tapping on the keys.
                                <br><b><i>Tools: </i></b>Flutter<br>
                            </span>
                        </li>
                        <li>
                            <b>World Time Android Application: </b><span  class="text-muted">In this Android Application, user can view and get the time of any place of the world by only selecting the country name.
                                <br><b><i>Tools: </i></b>Flutter<br>
                            </span>
                        </li>
                        <li>
                            <b>Weather Forecast Android Application: </b><span  class="text-muted">In this Android Application, user can check and get the current weather situation of any place of the world by inserting country name.
                                <br><b><i>Tools: </i></b>Flutter<br>
                            </span>
                        </li>
                        <li>
                            <b>Quiz Android Application: </b><span  class="text-muted">In this Android Application, user can play a quiz game and got a result.
                                <br><b><i>Tools: </i></b>Flutter<br>
                            </span>
                        </li>
                        <li>
                            <b>Student marksheet Management using C language: </b><span  class="text-muted">In this project, there is a account in which marks of student can fill up and
                                required operations can be performed on it like insertion, delete, update etc.
                                <br><b><i>Tools: </i></b>C language<br>
                            </span>
                        </li>

                    </ol>
                </div>
            </div>

            
            <!--Other Achievements-->
          <div class="row mt-3">
            <div class="col-md-12">
             <h5>Other Achievements</h5>
             <hr class="black accent-2 mt-0 d-inline-block mx-auto w-100">
             <ul class="text-muted">
                 <li class="r15"><i class="fa fa-trophy" aria-hidden="true"></i>
                    Awarded with 2nd price in Hindi Story Writing Competition by District Magistrate of Varanasi
                 </li>
                 <li class="r15"><i class="fa fa-star" aria-hidden="true"></i>
                    Holds a position of Vice Discipline Incharge during Bachelor Degree.
                 </li>

             </ul>
             </div>
             </div>

            </div>


        </div>
          

    </div>
</div>

  