
<!-- Section1 -->
  <div class="container-fluid h1">
    <div class="row h2">
      <div class="col-md-2"></div>
  
        <div class="col-md-3 pt-5 h4 "><h1>Hello!</h1><br><br>
          <h6>This is me</h6><br>
          <h4 class="line-1 anim-typewriter">Diksha Verma</h4>
          <h2 class="h5"><i>I am a Web Developer and UI/UX Designer</i></h2>
          <button class="mt-2 btn btn-info h6">Contact me</button>
          <!-- <button class="btn btn-info mb-3" (click)="navigate()">Contact me</button> -->

        </div>

        <div class="col-md-4">
          <img src="assets/img1.png" class="img-fluid responsive h3">
        </div>
  
        <div class="col-md-3"></div>
  
  </div>  
  <svg id="svg" xmlns="http://www.w3.org/2000/svg" viewBox="-300 0 950 270" >
    <path d="M-314,267 C105,364 400,100 812,279" fill="none" stroke="white" stroke-width="120" stroke-linecap="round"/>
  </svg>

</div>
<div class="img-text h14">DEVELOPER</div>

<!-- Section2 -->

<div class="container">
    <div class="row" >
      <div class="col-md-12 h7">
      <h2 class="h9"> Everybody in this world should learn to program a computer because it teaches you how to think..</h2><br>
      <h6 class="p-3">This is my personal portfolio in which I want u to know about me that who I am and I also provide you various services to make your life easy and ofcourse digital. I am also provide way to hire me as a freelancer or for a job.</h6>
     <button class="btn btn-info mb-3" (click)="navigateToProject()">Discover More..</button>
      </div>
    </div>
</div>
  
  
  <!-- Section3 -->
  <div class="jumbotron jumbotron-fluid mt-5 h10">
    <div class="container">
      <div class="row pt-4 pb-4 text-center">
        <div class="col-md-4"><i class="fa fa-paint-brush fa-3x" aria-hidden="true"></i><br>
          <h4>Web Design</h4>
          <hr class="black accent-2 mt-0 d-inline-block ml-3 h11">
          <p>I have skill regarding Web Designing so I provie you service regarding Wesite Development which is responsive as wellas flexible</p>
        </div>
        <div class="col-md-4"><i class="fa fa-laptop fa-3x" aria-hidden="true"></i><br>
          <h4>Web Development</h4>
          <hr class="black accent-2 mt-0 d-inline-block ml-3 h11">
          <p>Development inculdes both Frontened as well as backened service. Most of the websites need both of these services together. </p>
        </div>  
        <div class="col-md-4"><i class="fa fa-mobile fa-3x" aria-hidden="true"></i><br>
          <h4>App Design</h4>
          <hr class="black accent-2 mt-0 d-inline-block ml-3 h11">
          <p>Android Application is really a very useful service in todays world. I provide Android Application making service to the customers</p>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Section4 -->
  <div class="container">
    <div class="row">
      <div class="col-md-6 mt-5 text-justify">
        <h3 class="p-4"><b>About<br><span class="h12"> me!</span></b></h3>
      <!-- <p class="p-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p><br> -->
      <p class="p-4">I am Diksha Verma. I am a Web Developer. Along with Web Develpment, I also provide serives in the firld of Android Application Development. I grind HTML ad CSS and then weld them with PHP to achieve efficient and beautiful websites. Ofcourse, JavaScript is performing the most important role in adding various functionality in the code. I also use various frameworks and platforms to make webites optimize and flexible.</p><br>

      <button mat-raised-button color="accent" class="ml-3"  (click)="navigateToAbout()"><b>Know More....</b></button>
    </div>
      <div class="col-md-6"><div class="borderimg1"></div><img src="assets/sit1.png" class="h13"></div>
    </div>
  </div>
  
  <!-- Section5 -->
  <div class="jumbotron jumbotron-fluid">
  <div class="container"> 
    <div class="row">
       <div class="col-md-12 text-center">
         <h3>Skill Overview</h3>
         <hr class="black accent-2 mt-0 d-inline-block h11">

         <!-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p> -->
          <p>I am Learner and developer and  I have work on many projects regarding this field.I am skilled with many useful languages and knowledge which is required in the field of Designing and Development of Web application as well as Android Application. I utilize all my mentioned skills to develop a beautiful and attractive website.</p>
        </div>
    </div>
    <div class="row">
      <div class="col-md-4 card">
        <p style="text-align: center;"><b>Frontened</b></p>
        <ul class="a" style="list-style: none;border-radius:50px 10px 50px 10px">
          <li class="b"><i class="fa fa-check c" aria-hidden="true" ></i>
            JavaScript</li>
          <li class="b"><i class="fa fa-check c" aria-hidden="true"></i>
            Angular</li>
          <li class="b"><i class="fa fa-check c" aria-hidden="true"></i>
            HTML/CSS</li>
          <li class="b"><i class="fa fa-check c" aria-hidden="true"></i>
            Bootstrap</li>
          <li class="b"><i class="fa fa-check c" aria-hidden="true"></i>
              WordPress</li>
              <li class="b"><i class="fa fa-check c" aria-hidden="true"></i>
                Ajax</li>
          <li class="b"><i class="fa fa-check c" aria-hidden="true"></i>
                Andriod Flutter</li>
        </ul>
      </div>
      <div class="col-md-4 card" >
        <p style="text-align: center;"><b>Backened</b></p>
        <ul class="a" style="list-style: none;border-radius:50px 10px 50px 10px">
          <li class="b"><i class="fa fa-check c" aria-hidden="true"></i>
            PHP</li>
          <li class="b"><i class="fa fa-check c" aria-hidden="true"></i>
            Python</li>
          <li class="b"><i class="fa fa-check c" aria-hidden="true"></i>
            MySQL</li>
          <li class="b"><i class="fa fa-check c" aria-hidden="true"></i>
            MongoDB</li>
        </ul>
      </div>
      <div class="col-md-4 card" >
        <p style="text-align: center;"><b>Others</b></p>
        <ul class="a" style="list-style: none;border-radius:50px 10px 50px 10px">
          <li class="b"><i class="fa fa-check c" aria-hidden="true"></i>
           Android Development</li>
          <li class="b"><i class="fa fa-check c" aria-hidden="true"></i>
            Adobe XD</li>
          <li class="b"><i class="fa fa-check c" aria-hidden="true"></i>
            Artificial Intelligence</li>
          <li class="b"><i class="fa fa-check c" aria-hidden="true"></i>
           Blockchain</li>
          <li class="b"><i class="fa fa-check c" aria-hidden="true"></i>
           Canva</li>
           <li class="b"><i class="fa fa-check c" aria-hidden="true"></i>
            Java</li>
            <li class="b"><i class="fa fa-check c" aria-hidden="true"></i>
              Data Structure</li>
        </ul>
      </div>
    </div>
  </div>
  </div>



